.toogler-tema-contenedor {
  position: absolute;
  right: 10px;
  top: 80px;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  background-color: #291D1E;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

.toogler-tema {
  position: relative;
  top: 10px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  transition: 0.4s left;
}

.active {
  left: 65px;
  transition: 0.4s left;
}

/* GENERALES - INICIO */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.light-mode {
  background-color: white;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
}

span {
  color: #F6D7AC;
}

/* GENERALES - FIN */
/* HEADER - INICIO */
.headers-fondo {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #291D1E;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.nav-link {
  display: inline;
  color: #F5A454;
  padding: 0 20px;
  font-size: 20px;
}

.nav-link:hover {
  color: #F6D7AC;
}

/* HEADER - FIN */
/* MENU-HAMBURGUESA - INICIO */
.menu-hamburguesa {
  position: absolute;
  top: 11px;
  left: 0;
}

.menu-imagen {
  width: 60px;
  object-fit: contain;
  cursor: pointer;
}

.menu-desplegar {
  position: fixed;
  width: 60vw;
  height: 100vh;
  background-color: #291D1E;
  top: 0;
  left: -100%;
  z-index: 99999;
  transition: 0.4s left;
  box-shadow: 0px 20px 30px #F6D7AC;
}

.menu-active {
  left: 0;
  transition: 0.4s left;
}

.menu-contenedor {
  display: inline-block;
  padding: 0px;
  text-align: start;
  margin-left: 50px;
  margin-top: 20px;
}

.menu-item {
  display: block;
  padding: 20px 0px;
  font-size: 20px;
}

.menu-link {
  color: #F5A454;
  text-decoration: none;
}

/* MENU-HAMBURGUESA - FIN */
/* FUTBOL - INICIO */
.cards-contenedor-futbol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.cards-futbol {
  margin-top: 40px;
  width: 92%;
  height: auto;
  background-color: #291D1E;
  box-shadow: 3px 3px 12px #F6D7AC, -3px -3px 12px #F6D7AC;
  padding-bottom: 40px;
  color: #F5A454;
}

.cards-resultado-futbol {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

.cards-imagen-futbol {
  height: 90px;
  width: 90px;
}

/* FUTBOL - FIN */
/* BASQUET - INICIO */
.cards-contenedor-basquet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.cards-basquet {
  margin-top: 40px;
  width: 92%;
  height: auto;
  background-color: #291D1E;
  box-shadow: 3px 3px 12px #F6D7AC, -3px -3px 12px #F6D7AC;
  padding-bottom: 40px;
  color: #F5A454;
}

.cards-resultado-basquet {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

.cards-imagen-basquet {
  height: 110px;
  width: 110px;
}

/* BASQUET - FIN */
/* TENIS - INICIO */
.cards-contenedor-tenis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.cards-tenis {
  margin-top: 40px;
  width: 92%;
  height: auto;
  background-color: #291D1E;
  box-shadow: 3px 3px 12px #F6D7AC, -3px -3px 12px #F6D7AC;
  padding-bottom: 40px;
  color: #F5A454;
}

.cards-resultado-tenis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

.cards-imagen-tenis {
  height: 45px;
  width: 45px;
}

/* TENIS - FIN */
/* MEDIAS - INICIO */
@media screen and (min-width: 992px) {
  .menu-hamburguesa {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  nav {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 560px) {
  .cards-contenedor-tenis {
    grid-template-columns: 1fr;
  }
  .cards-tenis {
    width: 97%;
  }
  .cards-contenedor-basquet {
    grid-template-columns: 1fr;
  }
  .cards-futbol {
    width: 97%;
  }
  .cards-contenedor-futbol {
    grid-template-columns: 1fr;
  }
  .cards-basquet {
    width: 97%;
  }
}
@media screen and (min-width: 561px) and (max-width: 992px) {
  .cards-contenedor-tenis {
    grid-template-columns: 1fr;
  }
  .cards-contenedor-basquet {
    grid-template-columns: 1fr;
  }
  .cards-contenedor-futbol {
    grid-template-columns: 1fr;
  }
}
/* MEDIAS - FIN */

/*# sourceMappingURL=style.css.map */
