.redes-sociales {

    border-top: 1px solid $color-secundario;
    padding: 30px 0px;

}

.footer-tamaño-redes {

    font-size: 50px;
    margin: 0 20px;
    color: $color-secundario;

}

.footer-tamaño-redes:hover {


    color: $color-terciario;


}