/* FUTBOL - INICIO */

.cards-contenedor-futbol {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; 

}

.cards-futbol {

    margin-top: 40px;
    width: 92%;
    height: auto;
    background-color: #291D1E;
    box-shadow: 3px 3px 12px #F6D7AC, -3px -3px 12px #F6D7AC;
    padding-bottom: 40px;
    color: #F5A454;

}

.cards-resultado-futbol {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

    text-align: center;
   

}

.cards-imagen-futbol {

    height: 90px;
    width: 90px;
    

}

/* FUTBOL - FIN */