/* HEADER - INICIO */

.headers-fondo {


    display: flex; 
    width: 100%;
    height: 70px;
    background-color: $color-principal;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
   

}

.nav-link {

    display: inline;
    color: $color-secundario;
    padding: 0 20px;
    font-size: 20px;

}

.nav-link:hover {

    color: $color-terciario;

}

.nav-li {

    display: inline-block;

}


/* HEADER - FIN */