/* MEDIAS - INICIO */


@media screen and (min-width: 992px) {

    .menu-hamburguesa {

        display: none;

    }
 

}

@media screen and (max-width: 991px) {

    nav {

        display: none;

    }

}

@media screen and (min-width: 0px) and (max-width: 560px){

    .cards-contenedor-tenis {

        grid-template-columns: 1fr;

    }

    .cards-tenis {

        width: 97%;

    }

    .cards-contenedor-basquet {

        grid-template-columns: 1fr;

    }

    .cards-futbol {

        width: 97%;
    }

    .cards-contenedor-futbol {

        grid-template-columns: 1fr;

    }

    .cards-basquet {

        width: 97%;

    }



}

@media screen and (min-width: 561px) and (max-width: 992px){

    .cards-contenedor-tenis {

        grid-template-columns: 1fr;

    }
  

    .cards-contenedor-basquet {

        grid-template-columns: 1fr;

    }

 
    .cards-contenedor-futbol {

        grid-template-columns: 1fr;

    }

   
}


@media screen and (max-width: 600px) {
    
    .toogler-tema-contenedor {

     
        width: 80px;
        height: 35px;
      
    }
    
    .toogler-tema {
    
        position: relative;
        top: 7px;
        left: 5px;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 10px;
        transition: 0.4s left;
    
      
    
    
    }
    
    .active {
    
        left: 55px;
        transition: 0.4s left;
    
    }


}


/* MEDIAS - FIN */