/* MENU-HAMBURGUESA - INICIO */

.menu-hamburguesa {

    position: absolute;
    top: 11px;
    left: 0;
    

}

.menu-imagen {

    width: 60px;
    object-fit: contain;
    cursor: pointer;


}

.menu-desplegar {

    position: fixed;
    width: 60vw;
    height: 100vh;
    background-color: $color-principal;
    top: 0;
    left: -100%;
    z-index: 99999;
    transition: 0.4s left;
    box-shadow: 0px 20px 30px $color-terciario;

}

.menu-active {

    left: 0;
    transition: 0.4s left;
}



.menu-contenedor {

    display: inline-block;
    padding: 0px;
    text-align: start;
    margin-left: 50px;
    margin-top: 20px;
    

}

.menu-item {

    display: block;
    padding: 20px 0px;
    font-size: 20px;
    
    

}

.menu-link {

    color: $color-secundario;
    text-decoration: none;

}



/* MENU-HAMBURGUESA - FIN */