/* TENIS - INICIO */

.cards-contenedor-tenis {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; 

}

.cards-tenis {

    margin-top: 40px;
    width: 92%;
    height: auto;
    background-color: #291D1E;
    box-shadow: 5px 5px 15px #F6D7AC, -5px -5px 15px #F6D7AC;
    padding-bottom: 40px;
    color: #F5A454;

}


.cards-resultado-tenis {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 30px;

    text-align: center;
   
}

.cards-imagen-tenis {

    height: 45px;
    width: 45px;
    

}

/* TENIS - FIN */