/* TENIS - INICIO */

.cards-contenedor-tenis {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; 

}

.cards-tenis {

    margin-top: 40px;
    width: 92%;
    height: auto;
    background-color: gold;
    box-shadow: 2px 2px 6px black;
    padding-bottom: 40px;

}


.cards-resultado-tenis {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 30px;

    text-align: center;
   
}

.cards-imagen-tenis {

    height: 45px;
    width: 45px;
    

}

/* TENIS - FIN */